.device {
  width: 270px;
  height: 480px;
  background: url('base.png');
  background-size: contain;
  overflow: hidden;
  position: relative;
}

.toolbar {
  padding-top: 19px;
}

.system-buttons {
  background-image: url('system.buttons.png');
  width: 270px;
  height: 36px;

  background-size: cover;
  position: absolute;
  bottom: 0;
}

.location-bar {
  width: 220px;
  height: 36px;
  background: url('location.bar.png');
  background-size: cover;
  float: left;

  transition: all 0.2s ease-out;
}
  .location-bar.small {
    margin-left: -176px;
  }

.hidden {
  opacity: 0;
}



/* Buttons */

.button {
  width: 17px;
  height: 17px;
  background-size: cover;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}

.open-tabs {
  background-image: url('tab.button.png');
}

.add-tab {
  background-image: url('new.tab.png');
}
  .add-tab.hidden {
    margin-right: -100px;
  }

.menu {
  background-image: url('menu.button.png');
}

.button {
  transition: all 0.1s ease;
  transition-delay: 0.1s;
}
  .button.hidden {
    transition: all 0.1s ease;
    transition-delay: 0s;
  }

/* Tabs */


.tabs-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 425px;
  width: 260px; /* 270px adjusted for padding */
  margin-top: 36px;
  transition: all 0.2s ease;
  padding: 5px;
}

.tabs {
  height: 425px;
  transition: all 0.25s ease;
}
  .tabs.hidden {
    margin-left: 260px;
  }

.tab {
  width: 127px;
  height: 98px;
  background: url('marketplace.tab.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;

  /* A hack to get the tabs on the right side.
     We're not using a float because it messes with the animations.
     We're not using text-align because it doesn't work. */
  margin-left: 132px;
}

.tab-created {
  animation: slideDown 0.25s ease forwards;
  opacity: 0;
}

.tab-removed {
  animation: slideRight 0.25s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    width: 127px;
    transform: scale(0);
  }

  50% {
    height: 98px;
    width: 127px;
    transform: scale(1);
  }

  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    margin-right: 0;
  }

  50% {
    opacity: 0;
    margin-left: 332px;
    margin-right: -200px;
    scale(1);
  }

  100% {
    margin-left: 332px;
    margin-right: -200px;
    height: 0;
    scale(0);
  }
}

.new-tab {
  background-image: url('new.tab.preview.png');
}

.content.home {
  background-image: url('home.content.png');
  background-size: contain;
}
